body {
    background-color: #182027;
}

.blood-moon {
    position: relative;
    margin: 290px auto 0 auto;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background: linear-gradient(155deg, crimson, pink);
    transition: all 15s;
}

.blood-moon:hover {
    margin: 10px auto 0 auto;
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

.regular-moon {
    position: absolute;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background: white;
    opacity: .1;
    transition: all 15s;
}

.regular-moon:hover {
    position: absolute;
    opacity: .9;
    height: 150px;
    width: 150px;
    border-radius: 50%;
}