* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #003c72;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  min-height: 100vh;
  overflow: hidden;
}

.terrain {
  position: relative;
  height: 100%;
  width: 100%;
}

.herbe {
  background-color: rgb(12, 107, 12);
  height: 20px;

  width: 100%;
}
.damier {
  background-color: #de8452;
  background-image: linear-gradient(
      45deg,
      #f7e17c 25%,
      transparent 25%,
      transparent 75%,
      #f7e17c 75%
    ),
    linear-gradient(
      45deg,
      #f7e17c 25%,
      transparent 25%,
      transparent 75%,
      #f7e17c 75%
    );
  background-size: 100px 100px;
  background-position: 0 0, 50px 50px;
  height: 100px;
  width: 100%;
}

.sonic {
  position: relative;
  height: 36px;
  width: calc(132px / 4);
  overflow: hidden;
  background: url(Sonic.png);

  animation: course 0.5s steps(4) infinite;
}

@keyframes course {
  from {
    background-position: 0px;
  }
  to {
    background-position: 132px;
  }
}

.fast {
  border: 0;
  background-color: #59c1e8;
  padding: 10px;
  font-size: 24px;
  font-weight: 700;
}

.fast:active {
  background-color: white;
}
